.qr-page {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #4D544B;
}

.qr-heading {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.scanner-styles {
    margin-top: 30px;
    border-radius: 25px;
    height: 50%;
    width: 50%;
}
